<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/header.css" />
    <meta charset="UTF-8">
    <script src="js/script.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="img/logo simple.png">
</head>

<body>
    <header>
        <button class="gauche" onclick="redirectLoading()">Importer nouveau texte</button>
        <button class="droit" onclick="redirectLoading()">Nouveau texte</button>
        <img id="logo" src="img/logo entier.png">
    </header>
    <div id="content">
        Bonjour
    </div>
</body>