<!DOCTYPE html>

<html>

<head>
    <%- include ( 'templates/common_head' ) %>
    <link rel="stylesheet" href="css/loading.css" />
    <meta http-equiv="refresh" content="5;url=text" />
</head>

<body>
    <div class="container">
        <div class="top-left"></div>
        <div class="top-right"></div>
        <div class="bottom-left"></div>
        <div class="bottom-right"></div>
    </div>
    <div id="phrase"></div>
<script src="js/loading.js"></script>
</body>
</html>